<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                {{#if logged_in}}
                <li><a href="/logout" id="logout">Logout</a></li>
                {{else}}
                <li><a href="/login" id="login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
        <div id="blog-title">
            <h1>{{blog_title}}</h1>
        </div>
    </div>
</header>