{{#if dashboardPosts}}
{{#each dashboardPosts}}
{{#if post}}
<div class="dashboard">
    <ul class="container">
        <li>
            <a href="#">
                <span>{{title}}</span>
                <span>{{date}}</span>
            </a>
        </li>
    </ul>
</div>
{{/if}}
{{/each}}
{{else}}
<div class="new-post">
    <button type="button" class="new-post-btn">+ New Post</button>
</div>
{{/if}}