<div class="dashboard">
    <ul class="container">
        <li>
            <a href="#">
                <span>Object Oriented Programming</span>
                <span>05/05/2021</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Department of Motor Vehicle</span>
                <span>05/05/2021</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Cable News Network</span>
                <span>05/05/2021</span>
            </a>
        </li>
    </ul>
</div>