{{#if dashboardPosts}}
<div class="dashboard">
    <ul class="container">
      {{#each dashboardPosts}}
        <li class="dashboard-posts">
            <a href="/edit">
                {{> dashboard-post}}
            </a>
        </li>
      {{/each}}
    </ul>
</div>
{{/if}}
<form class="new-post" action="/new">
    <button type="submit" class="new-post-btn">+ New Post</button>
</form>