{{#if dashboardPosts}}
{{#each dashboardPosts}}
{{#if post}}
<div class="dashboard">
    <ul class="container">
        <li>
            <a href="/edit-post">
                {{> dashboard-post}}
            </a>
        </li>
    </ul>
</div>

<form class="new-post" action="/new-post">
    <button type="submit" class="new-post-btn">+ New Post</button>
</form>
{{/if}}
{{/each}}
{{else}}
<form class="new-post" action="/new-post">
    <button type="submit" class="new-post-btn">+ New Post</button>
</form>
{{/if}}