<div class="post">
    <div class="post-top">
        <h1>Edit Post</h1>
    </div>
    <div class="post-content">
        <div>
            <div class="col">
                <span>Title:</span>
            </div>
            <div class="col">
                <textarea name="" id="post-title" cols="30" rows="1"></textarea>
            </div>
        </div>
        <div>
            <div class="col">
                <span>Content:</span>
            </div>
            <div class="col">
                <textarea name="" id="post-content" cols="60" rows="3"></textarea>
            </div>
        </div>
        <button type="button" id="updatePost">Update</button>
        <form action="/dashboard">
            <button type="submit" id="deletePost" style="width: 100%">Delete the Post</button>
        </form>
    </div>
</div>