<div class="card">
    <div class="card-top">
        <div class="card-title">
            <h1>Why MVC is so important</h1>
        </div>
        <div class="card-postTime">
            <span>Posted by XXXXXX on 05/05/2021</span>
        </div>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quaerat repellat. Autem corporis
            doloribus eaque earum eveniet facere, maiores nesciunt nihil non numquam quia quisquam sit tenetur totam ut.
            Nam!</p>
    </div>
</div>

<div class="card">
    <div class="card-top">
        <div class="card-title">
            <h1>Why MVC is so important</h1>
        </div>
        <div class="card-postTime">
            <span>Posted by XXXXXX on 05/05/2021</span>
        </div>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, tempore!</p>
    </div>
</div>

<div class="card">
    <div class="card-top">
        <div class="card-title">
            <h1>Why MVC is so important</h1>
        </div>
        <div class="card-postTime">
            <span>Posted by XXXXXX on 05/05/2021</span>
        </div>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis consequatur distinctio dolor eius
            iure magnam, modi neque, nihil non numquam repellat tempora vel? A ad atque dolor maiores omnis rem saepe
            sed, sunt! Ab alias asperiores explicabo illum itaque nam neque nobis quibusdam quo, quod tenetur, vero.
            Pariatur, repellat?</p>
    </div>
</div>