<form class="login-form">
    <div class="form-top">
        <h1>Login</h1>
    </div>
    <div class="form-content">
        <div class="username">
            <div class="col">
                <span>Your Email:</span>
            </div>
            <div class="col">
                <input type="text" id="email-login" placeholder="Validated Email Address Please!">
            </div>
        </div>
        <div class="password">
            <div class="col">
                <span>Your Password:</span>
            </div>
            <div class="col">
                <input type="password" id="password-login" placeholder="Please enter your password!">
            </div>
        </div>
        <button type="submit">Login</button>
        <div class="form-link">
            <a href="/signin">Sign up instead</a>
        </div>
    </div>
</form>

<script type="text/javascript" src="js/login.js"></script>