<div class="login-form">
    <div class="form-top">
        <h1>Login</h1>
    </div>
    <div class="form-content">
        <div class="username">
            <div class="col">
                <span>Your Username:</span>
            </div>
            <div class="col">
                <input type="text" id="username-login" placeholder="Please provide a username!">
            </div>
        </div>
        <div class="email">
            <div class="col">
                <span>Your Email:</span>
            </div>
            <div class="col">
                <input type="text" id="email-login" placeholder="Email Address">
            </div>
        </div>
        <div class="password">
            <div class="col">
                <span>Your Password:</span>
            </div>
            <div class="col">
                <input type="password" id="password-login" placeholder="Please type your password!">
            </div>
        </div>
        <button type="button">Login</button>
        <div class="form-link">
            <a href="/signin">Sign up instead</a>
        </div>
    </div>
</div>