<div class="signin-form">
    <div class="form-top">
        <h1>Sign in</h1>
    </div>
    <div class="form-content">
        <div class="username">
            <div class="col">
                <span>New Username:</span>
            </div>
            <div class="col">
                <input type="text" placeholder="Please sign a username!">
            </div>
        </div>
        <div class="password">
            <div class="col">
                <span>New Password:</span>
            </div>
            <div class="col">
                <input type="password" placeholder="Please type your password!">
            </div>
        </div>
        <button type="button">Sign Up</button>
        <div class="form-link">
            <a href="/login">Login instead</a>
        </div>
    </div>
</div>